<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FORCE QUANTITY {{ store_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ request.scope.root_path }}/static/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>FORCE QUANTITY {{ store_name }}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
     <footer>
        <small>&copy; 2025 PIM </small>
    </footer>
    <script>window.ROOT_PATH = "{{ request.scope.root_path }}";</script>
    <script src="{{ request.scope.root_path }}/static/script.js"></script>
</body>
</html>